* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;

}

body {
    background-color: rgba(131, 117, 117, 0.2);

}

header {
    margin-top: 2%;
    align-items: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hobbies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 2rem;
    margin-top: 10%;
}

.receita {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    margin-top: 10%;
    text-decoration: none;
    list-style-type: none;

}

.passos {
    margin-top: 2%;
    font-size: 2rem;
    font-family: serif;
}

ul {
    list-style-type: none;

}

ol li {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 10rem;
    position: absolute;
    top: 30%;
    background-color: rgb(254, 254, 251);
    border-radius: 10px;
    margin-left: 2rem;
    box-shadow: 1px 1px 2px 1px #242413;
}



a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}


a:hover {
    text-decoration: none;
    font-size: 20px;
    color: rgb(186, 99, 99);
}

h1,
h2,
h3 {
    color: rgb(186, 99, 99);
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 800px) {
    .nav-bar {
        margin-top: 1rem;
        display: flex;
        position: static;
        border-radius: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        box-shadow: none
    }
}